@font-face {
  font-family: 'Actor';
  src: url("../fonts/Actor/Actor-Regular.woff") format('woff'),
    url("../fonts/Actor/Actor-Regular.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.woff") format('woff'),
  url("../fonts/Roboto/Roboto-Regular.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.woff") format('woff'),
  url("../fonts/Roboto/Roboto-Medium.woff2") format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.woff") format('woff'),
  url("../fonts/Roboto/Roboto-Bold.woff2") format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}